{% extends 'schools/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Сброс пароля пользователя{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <p>Изменение пароля для: <strong>{{ object.username }}</strong></p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Сохранить пароль</button>
                        <a href="{% url 'schools:education_dept-user-detail' object.pk %}" class="btn btn-outline-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
